body {
    background-color: #eee;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: black;
    text-align: left;
    margin: 20px 0;
    text-decoration: none;
}



h2 {
    color: #000;
    font-size: 2rem;
    margin-bottom: 1rem;
}



#content {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 250px;
}

#writer {
    color: #888;
    margin-bottom: 1rem;
}
#change {
    color: #888;
    margin-bottom: 1rem;
}

#change::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 0.8rem;
    background-color: #888;
    margin-right: 0.5rem;
}

#date,
#update {
    font-size: 0.8rem;
    color: #888;
    display: inline-block;
    margin-right: 1rem;
}

#date::before,
#update::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 0.8rem;
    background-color: #888;
    margin-right: 0.5rem;
}

#date {
    float: right;
}

#update {
    float: right;
}

hr {
    border: none;
    border-top: 1px solid #888;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
hr {
    border: 0;
    height: 1px;
    background-color: #817878;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
a:not(#change a) {
    color: black;
    text-decoration: none;
}

#change a{
    color: #888;
    text-decoration: none;
}