/* 전체 폰트 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    margin-right: 12%;
    margin-left: 12%;
    margin-top: 1%;
}

/* 제목 스타일 */
h1 {
    color: black;
    text-align: left;
    margin: 20px 0;
}

h2 {
    color: black;
    text-align: left;
    margin: 10px 0;
}

/* 정보 스타일 */
p {
    margin-bottom: 10px;
}

/* 링크 스타일 */
a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    color: #555;
}

/* 로그아웃 버튼 스타일 */
a.logout-btn {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

/* 돌아가기 버튼 스타일 */
a.back-btn {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

/* 버튼 간격 */
a + a {
    margin-left: 10px;
}
